@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../FONTS/Montserrat-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../Font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../Font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../Font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../Font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../Font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular', sans-serif;
}
