@charset "UTF-8";
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../FONTS/Montserrat-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../Font/fontawesome-webfont.eot?v=3.2.1");
  src: url("../Font/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../Font/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../Font/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../Font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular', sans-serif;
}

.cart {
  width: 350px;
  height: 380px;
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.backbag, .shoes {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.summary {
  display: flex;
  flex-direction: column-reverse;
}

#product_name {
  font-weight: 600;
  opacity: 0.66;
}

#price {
  color: #ff790a;
  font-weight: 700;
  opacity: 0.7;
  padding-top: 10px;
}

#old_price {
  padding-left: 5px;
  color: #000;
  text-decoration: line-through;
  font-size: 0.8em;
}

.count_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.4);
  width: 7rem;
  height: 30px;
  margin-top: 1.3rem;
}

#math_sign {
  font-weight: 900;
  font-size: 1.3rem;
  background-color: #cecccc;
  border-radius: 5px;
  width: 25px;
  text-align: center;
  text-justify: distribute;
}

.total, .shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-top: 1px rgba(175, 174, 174, 0.6) solid;
  width: 300px;
}

header {
  padding: 1em;
  padding-bottom: 2em;
  text-align: center;
}

.container {
  position: relative;
  left: 15%;
  width: 70%;
  height: 50%;
  display: grid;
  grid-template-columns: 400px, 300px;
  grid-template-areas: "Form Cart";
  grid-column-gap: 15px;
}

img {
  width: 35%;
  border-radius: 10px;
  margin-right: 20px;
}

.form {
  line-height: 2;
  display: block;
  width: 450px;
}

.form label,
.form #information_text {
  font-size: 0.8rem;
  opacity: 0.8;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9em;
  border-style: solid;
  border-width: 1px;
  padding-left: 28px;
}

.upside, .downside {
  padding-bottom: 2em;
}

.country_and_postcode {
  display: flex;
  box-sizing: content-box;
  justify-content: flex-start;
}

#postcode {
  width: 220px;
  box-sizing: content-box;
}

#country_label {
  padding-right: 100px;
  box-sizing: content-box;
}

#country {
  height: 30px;
  width: 140px;
  border-radius: 5px;
  font-size: 0.8em;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
  padding-left: 30px;
}

#information {
  width: 13px;
  height: 13px;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.9em;
  border-style: solid;
  border-width: 1px;
}

#information_text {
  padding: 0 0 10px 20px;
}

button {
  opacity: 0.8;
  float: right;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 10px;
  background-color: #f18b37;
  border: none;
}

.input-field {
  display: inline-block;
  position: relative;
}

.fas {
  display: inline;
  position: absolute;
  left: 5px;
  bottom: 8px;
  color: #919595;
}

.fa-globe-americas, .fa-mail-bulk {
  bottom: 27px;
}

@media (max-width: 540px) {
  .container {
    left: 5%;
    width: 70%;
    height: 50%;
    display: grid;
    grid-template-rows: 420px 640px;
    grid-template-areas: "Cart" "Form";
    grid-row-gap: 15px;
  }
  .form {
    grid-row: 2/3;
  }
  .cart {
    grid-area: "Cart";
    width: 420px;
    height: 400px;
  }
  .total, .shipping {
    width: 400px;
  }
  button {
    position: relative;
    float: none;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    width: 130px;
    max-height: 130px;
    border-radius: 10px;
    margin-right: 40px;
  }
}
